        @font-face {
        		font-family: 'dax';
        		src: url('dax-regular-webfont.eot');
        		src: url('dax-regular-webfont.eot?#iefix') format('embedded-opentype'),
        		url('dax-regular-webfont.woff') format('woff'),
        		url('dax-regular-webfont.ttf') format('truetype'),
        		url('dax-regular-webfont.svg') format('svg');
        		font-weight: normal;
        		font-style: normal;
          }


html, body {
  background:#fbfbfb !important;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  color: #555;
}
.contact {
  text-align: center !important;
  margin: 25px;
}
p.new {
  font-size: 22px;
  font-family: "dax", "DaxRegular", "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
  padding-bottom: 10px;
}
.logo {
float: left;
width: 225px;
margin: 25px;
}
.h1{
  text-align: center;
  color: #000 !important;
    font-family: "dax", "DaxRegular" !important;
    font-weight: 600 !important;
    font-size: 2em !important;
}
.h1 >span{
  color: #898b8e !important;
}
.illustration-container{
  margin: 25px;
  padding-bottom: 5em;
}
.illustration{
      max-width: 100%;
      min-width: 314px;

}
.illustration-title{
    max-width: 310px;
    font-weight: 200;
    color: #000;
}
.illustration-title>span {
  color: #df6026;
}
.interested{
      font-size: 1.2em;
      color: #000;
      margin: 25px;
      padding-bottom: 5em;
      font-weight: bold;
}
.email{
    color: #666666;
    font-family: "dax", "DaxRegular" !important;
    font-weight: 200;
    font-size: 1.2em;
    padding-right: 15px;
}
.telephone{
      color: #666666;
      font-family: "dax", "DaxRegular" !important;
      font-weight: 200;
      font-size: 1.2em;
      padding-right: 15px;
}
.website{
    color: #eea747;
    font-family: "dax", "DaxRegular" !important;
    font-weight: 200;
    font-size: 1.2em;
    padding-right: 15px;
}
.aboutus {
    font-family: 'Open Sans',
    sans-serif !important;
    color: #000;
    text-align: justify;
    margin: 25px;
    padding-bottom: 5em;
    font-size: 16px;
}


@media screen and (min-height: 600px) {
p.logo {
  margin-top: 10em;
}

.illustration-title {
  max-width: 100%;
  font-family: "dax", "DaxRegular";
  font-weight: 200;
  color: #000;
}
}


.footer {
      position: fixed !important;
      bottom: 0px;
      float: right;
      height: 35px;
      margin: 0px 50px 0px 0px;
      color: #777;
      text-align: right;
      padding: 10px 30px;
  }
a, a:hover, a:active, a:visited, strong {
  color: #000;
}

.contact {
  padding-bottom: 7.5em;
}
