body {
  background:#fbfbfb;
  font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}
p.contact {
  font-size: 20px;
}
p.new {
  font-size: 22px;
}
p.logo {
  padding: 20px;
  margin-top: 5em;
}
.footer {
      position:absolute;
      bottom: 0px;
      float: right;
      height: 35px;
      margin: 0px 50px 0px 0px;
      color: #777;
      text-align: right;
      padding: 10px 30px;
  }
